.vscode
.gradle
tools/android-sdk
app/build
build
reversenote
*.apk
.gemini
GEMINI.md
.kotlin
keystore.properties
release.keystore
temp_*
local.properties
.geminiignore
memory_dumps
.idea
profile_memory.sh
FEATUREPLAN.md
webdav
decompiled_notes
build_output*.log
*.log
